*{
    margin:0;
    padding: 0;
}
#heading{
    color: rgb(131,58,180);
    color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    font-size: 4rem;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    text-align: center;
}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(52, 51, 51, 0.1);
    font-size: 7vmin; 
    color:rgb(112, 50, 156);
    background-color: white;

}
#reset_btn{
    padding:1rem;
    font-size: 1.25 rem;
    background-color: rgb(206, 69, 208);
    color:white;
    border-radius: 0.5rem;
    border: none;
}
#new_btn{
    padding:1rem;
    font-size: 1.25 rem;
    background-color: rgb(198, 82, 196);
    color:white;
    border-radius: 0.5rem;
    border: none;
}
#msg{
    color:rgb(86, 48, 191) ;
    font-size: 5vmin;
}
.msg_container{ 
    height:25vmin;
    gap:3rem;
    
}
.hide{
    display: none;
}